1] Print the company name in a single line from the email address in the "username@companyname.com" format

In [7]:
s = "akshay.bukka@gmail.com"
countofattherate = s.index("@")+1
countofdot=s.rindex(".")
print(s[countofattherate:countofdot])

gmail

2] Write a program that accepts a comma-separated sequence of words as input and prints the words in a
comma-separated sequence after sorting them alphabetically.

In [17]:
input_words=input("Enter a comma seperated word: ")
list_words=input_words.split(',')
list_words=sorted(list_words)
print(','. join(list_words))

Enter a comma seperated word: Learn,With,Lets,Up,Grade
Grade,Learn,Lets,Up,With

3] Create your own Jupyter Notebook for Sets.

In [28]:
thisset = {"apple", "banana", "cherry"}
print(type(thisset))

#It is Unordered
for x in thisset:
  print(x)

#Check if banana is there in set
print("banana" in thisset)

#Add Items
thisset.add("orange")
print(thisset)

#Add multiple items to set
thisset.update(["pineapple", "mango", "grapes"])
print(thisset)

#Length Of Set
print(len(thisset))

#Remove Item in a set
thisset.discard("banana")
print(thisset)

#Remove Last Item
x = thisset.pop()
print(x)
print(thisset)

#Clear The Set
thisset.clear()
print(thisset)

#Delete The Set Completely
del thisset

<class 'set'>
cherry
banana
apple
True
{'cherry', 'orange', 'banana', 'apple'}
{'cherry', 'banana', 'apple', 'mango', 'pineapple', 'grapes', 'orange'}
7
{'cherry', 'apple', 'mango', 'pineapple', 'grapes', 'orange'}
cherry
{'apple', 'mango', 'pineapple', 'grapes', 'orange'}
set()

4] Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no
duplicates.

In [37]:
def getMissingNo(A):
    n = len(A)
    total = (n + 1)*(n + 2)/2
    sum_of_A = sum(A)
    return total - sum_of_A
 
# Calling Function
A= "1 2 3 4 5 7 8"
arr=A.split(' ')
int_list = [int(i) for i in arr]
miss = getMissingNo(int_list)
print(miss)

6.0

5] With a given list L, write a program to print this list L after removing all duplicate values with original order
reserved.

In [41]:
# Python code to remove duplicate elements 
def Remove(duplicate): 
    final_list = [] 
    for num in duplicate: 
        if num not in final_list: 
            final_list.append(num) 
    return final_list 
      
# Calling Function
A= "2 4 10 20 5 2 20 4"
arr=A.split(' ')
int_duplicatelist = [int(i) for i in arr] 
print(Remove(int_duplicatelist))

[2, 4, 10, 20, 5]